html{
    height: 100%;
}
h2{
    color: #009BDB(0, 0, 0);
}
body{
    
    background-image: url(https://www.belgranocordoba.com/images/noticias/4860.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}
a{
    text-decoration:none ;
    color: black;
    font-weight: 700;
    padding-right: 30px;
}

header{
    align-items: end;
    display: flex;
    height: 60px;
    background-color: #0094D4;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}
label{
    color: white;
    font-family: 'Luc Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: oblique;
}
input{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-size: xx-large;
    height: 40px;
    
}

.boton{
    color: #009BDB(0, 0, 0);
    font-family: fantasy;
    font-size: xx-large;
    height: 70px;
    
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 20px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

