html{
    height: 100%;
}
body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration:none ;
    color: black;
    font-weight: 700;
    padding-right: 30px;
}

header{
    align-items: end;
    display: flex;
    height: 60px;
    background-color: #009DD4;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 20px;
}
main{
    flex-grow: 1;
}

footer{
    background-color:#009DD4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    display: flex;
}
h3{
    align-self: flex-end;
}

.footer_section {
    text-align: center;
}
.footer_section_title {
    font-size: 2rem;
    color: black;
    text-align: left;
    margin-left: 4px;
    font-size: 30px;
    margin-inline-end: 1000px;
}
.footer_section_ul {
}
.footer_section_li {
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
    align-items: flex-end;
    color: blue;
}

.footer_section_ubicacion {
    text-align: end;
    align-items: flex-start;
    font-size: 25px;
    margin-right: 50px;
    justify-content: flex-end;
    margin-top: -100px;
}
.footer_section_title_ubicacion {
    text-align: right;
    margin-right: 1px;
}


.banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: top;
    align-items: center
}
.boton-banner {
    background-color: #009DD4;
    border: #C7D989;
    text-decoration: none;
    margin-top: 4px;
    padding: 1em;
    font-size: 1em;
    border-radius: 25px;
}
.boton-banner:hover{
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);

}


.oferta{
    display: flex;
    align-items: center;
}

.oferta img{
    margin-right: 0px;
    margin-left: 30px;
    border-radius: 25px;
}


.articulos{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-articulo{
    font-size: 2em;

}

.parrafo-articulo{
    font-size: 14px;
    width: 80%;
    text-align: justify;
    margin: 2em;
}


.galeria{
    width: 80%;
    height: -20px;
    background-color: rgb(105, 243, 128) 217, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-galeria{
    width: 25%;
    height: 100%;
    background-color:---- ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.box-img{
    width: 100%;
    height: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img img{
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boton-img{
    background-color: #009DD4;
    border: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;

}

.boton-img:hover{
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);

}